.bgColorBlue{
    background-color: #323246;
}

.navbar{
    height: 75px;
    
}

.navbar img{
    height: 125px;  
}

.navText{
    font-size: 150%;
    padding: 50px;
}

.cardColor{
    background-color: #CECED3;
}

.cardSize{
    width: 10rem;
    height: 15rem;
}

.cardTitle{
    font-size: 100%;
}