.bgColorBlue{
    background-color: #323246;
}

.bgColorGrey{
    background-color: #CECED3;
}

.bgImage{
    background-image: url(../img/background.png);
}

.navbar{
    height: 100px;
}

.navbar img{
    height: 100px;  
}

.navText{   
    font-size: 150%;
    padding: 50px;
}

.navbar-size{
    padding: 0px;
}

h1{
    color: white;
    text-align: center;
    padding-top:10px;
}

h1 span{
    background-color: rgba(249, 68, 73, 0.7);
    padding: 5px;
    border-radius: 10px;
}

h2{
    color: black;
    text-align: center;
    padding-top:10px;
}

h2 span{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border-radius: 10px;
}

.cardColor{
    background-image:url(../img/BackgroundCard.png);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000000;
}

.add-CardColor{
    background-image:url(../img/BackgroundAddCard.png);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000000;
}

.cardSize{
    width: 11rem;
    height: 16.5rem;
    margin-top: 50px;
}

.cardTitle{
    font-size: 90%;
    color: white;

    padding: 5px;
}

.addCardTitle{
    font-size: 90%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 5px;
}

.margin-left{
    margin-left: 20px;
    margin-bottom: 0px;
}

.vertical-center{
    margin: 3px;
}

.zero-marg{
    margin: 0px;
}

.zero-padd{
    padding: 0px;
}

.btn-size{
    font-size: 70%;
    padding: 2px;
    margin: 0px;
    font-size: 90%;
}

.add-btn{
    background-color: transparent;
    border: none;
    border-radius: 40px;
    padding: 35px;
    margin-top: 0px;
}

.pkmSize{
    height: 100px;
    width: auto;
}

