.bgColorBlue{
    background-color: #323246;
}

.bgColorGrey{
    background-color: #CECED3;
}

.navbar{
    height: 75px;
}

.navbar img{
    height: 125px;  
}

.navText{
    font-size: 150%;
    padding: 50px;
}

.cardColor{
    /*background-image: sword and shield back url(../img/card-back.png); 
    background-repeat: no-repeat; */
    background-color: #CECED3;
}

.cardSize{
    width: 11rem;
    height: 16.5rem;
    margin-top: 50px;
}

.cardTitle{
    font-size: 90%;
    color: white;
    background-color: rgba(0, 0 , 0, 0.5);
    border-radius: 5px;
    padding: 5px;
}

.vertical-center{
    margin: 3px;
}

.zero-padd{
    padding: 0px;
}

.btn-size{
    font-size: 70%;
    padding: 2px;
    margin: 0px;
    font-size: 90%;
}

.pkmSize{
    height: 100px;
    width: auto;
}

